.local-assessfreq.local-assessfreq-row {
    display: flex;
    flex-wrap: wrap;
}

.local-assessfreq.local-assessfreq-row-hidden {
    display: none;
}

.local-assessfreq .local-assessfreq-month {
    width: 270px;
}

.local-assessfreq .local-assessfreq-month thead {
    text-align: center;
}

.local-assessfreq .local-assessfreq-month td {
    border: 1px solid #ddd;
    width: 36px;
    height: 36px;
    text-align: center;
}

#local-assessfreq-report-summary .card-header {
    display: flex;
}

#local-assessfreq-report-summary .local-assessfreq-zoom {
    margin-left: auto;
}

#local-assessfreq-report-summary .local-assessfreq-zoom .icon {
    font-size: 24px;
    color: #6c757d;
}

#local-assessfreq-report-summary .local-assessfreq-zoom i:hover {
    color: #111111;
    cursor: pointer;
}

.modal-dialog.local-assessfreq-modal-large {
    max-width: 90%;
}

.modal-dialog.local-assessfreq-modal-large .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#local-assessfreq-report-dayview .dayview-firstcol {
    width: 350px;
}

#local-assessfreq-report-dayview .dayview-midcol {
    width: 70px;
}

#local-assessfreq-report-dayview table tbody tr td {
    padding: .15rem;
}

.local-assessfreq-day-period {
    height: 40px;
    background-color: #875692;
    display: flex;
    justify-content: space-between;
}

.local-assessfreq-day-period div {
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    padding: .5rem;
}

.local-assessfreq-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.local-assessfreq-quiz-summary-table tbody tr td {
    width: 50%;
    font-size: 1.08em;
}

.local-assessfreq-quiz-summary-table tbody tr td:first-child {
    font-weight: 600;
}

#local-assessfreq-quiz-summary-card .card-body {
	padding: 0.50rem;
}
