.local-assessfreq.local-assessfreq-row {
    display: flex;
    flex-wrap: wrap;
}

.local-assessfreq.local-assessfreq-row-hidden {
    display: none;
}

.local-assessfreq .local-assessfreq-month {
    width: 270px;
}

.local-assessfreq .local-assessfreq-month thead {
    text-align: center;
}

.local-assessfreq .local-assessfreq-month td {
    border: 1px solid #dddddd;
    width: 36px;
    height: 36px;
    text-align: center;
}

.local-assessfreq-heat-0 {
    background-color: #fdf9cd;
}

.local-assessfreq-heat-1 {
    background-color: #a2dab5;
}

.local-assessfreq-heat-2 {
    background-color: #41b7c5;
}

.local-assessfreq-heat-3 {
    background-color: #2d7fb9;
}

.local-assessfreq-heat-4 {
    background-color: #283b94;
}

.local-assessfreq-heat-5 {
    background-color: #8c0010;
}
