body #local-assessfreq-index {
    font-family: Arial, serif;
}

/* Style the tab */
#local-assessfreq-index .tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
#local-assessfreq-index .tabs a {
    color: #000;
    text-decoration: none;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.local-assessfreq-card {
    margin-top: 10px;
}

.local-assessfreq-card .card-header {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-weight: 600;
}

.local-assessfreq-card .card-contents {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
    text-align: left;
}

#local-assessfreq-index .chart-area .chart-image {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 40vw;
}
/* Change background color of buttons on hover */
#local-assessfreq-index .tabs a:hover {
    text-decoration: none;
    background-color: #ddd;
}

/* Create an active/current tablink class */
#local-assessfreq-index .tabs a.active {
    background-color: #ccc;
}

/* Style the tab content */
#local-assessfreq-index .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#local-assessfreq-index .dialog-data {
    display: none;
}

.filters > div {
    padding: 0 20px 20px 0;
    display: inline-block;
}

.filter-submit {
    float: right;
}


.modal-dialog.local-assessfreq-modal-large {
    max-width: 90%;
}

.modal-dialog.local-assessfreq-modal-large .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal-dialog.local-assessfreq-modal-large .modal-body .chartjs-render-monitor {
    min-height: calc(100vh - 250px);
}
