#local-assessfreq-report-activities-in-progress table {
    width: 100%;
    margin-top: 10px;
}

#local-assessfreq-report-activities-in-progress td,
#local-assessfreq-report-activities-in-progress th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#local-assessfreq-report-activities-in-progress thead {
    background-color: rgba(0, 0, 0, .03);
}

#local-assessfreq-report-activities-in-progress tr:nth-of-type(2n) {
    background-color: rgba(0, 0, 0, .03);
}

#local-assessfreq-report-activities-in-progress .title {
    font-weight: bold;
}

#local-assessfreq-report-activities-in-progress tr.empty {
    height: 20px;
}
