{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_assessfreq/nav-year-filter

    This template renders the day range selector for the timeline view.

    Example context (json):
    {}
}}
<div id="local-assessfreq-quiz-inprogress-table-rows" data-region="rows-filter" class="dropdown">
    <button type="button" class="btn btn-secondary dropdown-toggle icon-no-margin"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            aria-label="{{# str }} showrows, local_assessfreq {{/ str }}" aria-controls="rowsfilter">
        {{#pix}} i/group {{/pix}} {{# str }} showrows, local_assessfreq {{/ str }}
        <span class="sr-only" data-active-item-text>
                {{# str }} rows5, local_assessfreq {{/ str }}
                {{# str }} rows10, local_assessfreq {{/ str }}
                {{# str }} rows20, local_assessfreq {{/ str }}
        </span>
    </button>
    <div id="rowsfilter" role="menu" class="dropdown-menu" data-show-active-item>
        <h6 class="dropdown-header">{{# str }} showrows, local_assessfreq {{/ str }}</h6>
        <a
            class="dropdown-item {{#rows}}{{#rows5}}active{{/rows5}}{{/rows}}"
            href="#"
            data-metric="5"
            aria-label="{{# str }} rows5, local_assessfreq {{/ str }}"
            role="menuitem"
            aria-current="{{#rows}}{{#rows5}}true{{/rows5}}{{^rows5}}false{{/rows5}}{{/rows}}"
        >
            {{# str }} rows5, local_assessfreq {{/ str }}
        </a>
        <a
            class="dropdown-item {{#rows}}{{#rows10}}active{{/rows10}}{{/rows}}"
            href="#"
            data-metric="10"
            aria-label="{{# str }} rows10, local_assessfreq {{/ str }}"
            role="menuitem"
            aria-current="{{#rows}}{{#rows10}}true{{/rows10}}{{^rows10}}false{{/rows10}}{{/rows}}"
        >
            {{# str }} rows10, local_assessfreq {{/ str }}
        </a>
        <a
            class="dropdown-item {{#rows}}{{#rows20}}active{{/rows20}}{{/rows}}"
            href="#"
            data-metric="20"
            aria-label="{{# str }} rows20, local_assessfreq {{/ str }}"
            role="menuitem"
            aria-current="{{#rows}}{{#rows20}}true{{/rows20}}{{^rows20}}false{{/rows20}}{{/rows}}"
        >
            {{# str }} rows20, local_assessfreq {{/ str }}
        </a>
    </div>
</div>
