{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_assessfreq/report-cards

    Report Summary template.

    Example context (json):
    {

    }
}}

<div id="local-assessfreq-quiz-dashboard-cards">
    <div class="row no-gutters">
        <div class="col-sm local-assessfreq-quiz-title">
            <h3 id="local-assessfreq-quiz-title">{{# str }} noquiz, local_assessfreq {{/ str }}</h3>
        </div>
    </div>
    <div id="local-assessfreq-quiz-dashboard-cards-deck" class="card-deck hide">
        {{> local_assessfreq/quiz-summary-card}}
        {{> local_assessfreq/quiz-summary-graph}}
    </div>
    <div id="local-assessfreq-quiz-dashboard-participant-trend-deck" class="card-deck hide">
        {{> local_assessfreq/quiz-summary-trend-graph}}
    </div>
    <div  id="local-assessfreq-quiz-table" class="row no-gutters hide">
        <span id="local-assessfreq-spinner-{{uniqid}}" class="overlay-icon-container" data-region="overlay-icon-container">
            <span class="loading-icon icon-no-margin">{{#pix}} i/loading, core, {{#str}} loading {{/str}} {{/pix}}</span>
        </span>
    </div>
</div>

