{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_assessfreq/assess-due-month

    Report Summary template.

    Example context (json):
    {

    }
}}

<div id="local-assessfreq-quiz-summary-card" class="card">
	<span id="local-assessfreq-spinner-{{uniqid}}" class="overlay-icon-container" data-region="overlay-icon-container">
	    <span class="loading-icon icon-no-margin">{{#pix}} i/loading, core, {{#str}} loading {{/str}} {{/pix}}</span>
	</span>

    <div class="card-header">
        <h5>{{# str }} quizdetails, local_assessfreq {{/ str }}</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped table-sm table-bordered local-assessfreq-quiz-summary-table">
        <tbody>
        <tr>
          <td>{{#str}} quiztimeopen, local_assessfreq {{/str}}:</td>
          <td id="quiz-time-open"></td>
        </tr>
        <tr>
          <td>{{#str}} quiztimeclose, local_assessfreq {{/str}}:</td>
          <td id="quiz-time-close"></td>
        </tr>
        <tr>
          <td>{{#str}} quiztimelimit, local_assessfreq {{/str}}:</td>
          <td id="quiz-time-limit"></td>
        </tr>
        <tr>
          <td>{{#str}} quiztimeearlyopen, local_assessfreq {{/str}}</td>
          <td id="quiz-time-earlyopen"></td>
        </tr>
        <tr>
          <td>{{#str}} quiztimelateclose, local_assessfreq {{/str}}</td>
          <td id="quiz-time-lateclose"></td>
        </tr>
        <tr>
          <td>{{#str}} quizresults, local_assessfreq {{/str}}</td>
          <td><a id="quiz-time-results" href=''>{{#str}} quizresultsview, local_assessfreq {{/str}}</a></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped table-sm table-bordered local-assessfreq-quiz-summary-table">
      <tbody>
        <tr>
          <td>{{#str}} quizparticipants, local_assessfreq {{/str}}</td>
          <td id="quiz-participants"></td>
        </tr>
        <tr>
          <td>{{#str}} quiztparticipantsoverride, local_assessfreq {{/str}}</td>
          <td id="quiz-participants-override" ></td>
        </tr>
       </tbody>
    </table>
    <table class="table table-striped table-sm table-bordered local-assessfreq-quiz-summary-table">
      <tbody>
        <tr>
          <td>{{#str}} quiztquestionnumber, local_assessfreq {{/str}}</td>
          <td id="quiz-question-number"></td>
        </tr>
        <tr>
          <td>{{#str}} quizquestiontypes, local_assessfreq {{/str}}</td>
          <td id="quiz-question-types"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="footer">
        <!-- Footer goes here via ajax -->
    </div>
</div>

