{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_assessfreq/quiz-summary-card-content

    Report Summary template.

    Example context (json):
    {

    }
}}
      <table class="table table-striped table-sm table-bordered local-assessfreq-quiz-summary-table">
        <tbody>
        <tr>
          <td>{{#str}} course, local_assessfreq {{/str}}:</td>
            <td id="quiz-course-name"><a href="{{{courselink}}}">{{courseshortname}}</a></td>
        </tr>
        <tr>
          <td>{{#str}} quiztimeopen, local_assessfreq {{/str}}:</td>
          <td id="quiz-time-open">{{timeopen}}</td>
        </tr>
        <tr>
          <td>{{#str}} quiztimeclose, local_assessfreq {{/str}}:</td>
          <td id="quiz-time-close">{{timeclose}}</td>
        </tr>
        <tr>
          <td>{{#str}} quiztimelimit, local_assessfreq {{/str}}:</td>
          <td id="quiz-time-limit">{{timelimit}}</td>
        </tr>
        <tr>
          <td>{{#str}} quiztimeearlyopen, local_assessfreq {{/str}}</td>
          <td id="quiz-time-earlyopen">{{earlyopen}}</td>
        </tr>
        <tr>
          <td>{{#str}} quiztimelateclose, local_assessfreq {{/str}}</td>
          <td id="quiz-time-lateclose">{{lateclose}}</td>
        </tr>
        <tr>
          <td>{{#str}} quizresults, local_assessfreq {{/str}}</td>
          <td><a id="quiz-time-results" href='{{{resultlink}}}'>{{#str}} quizresultsview, local_assessfreq {{/str}}</a></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped table-sm table-bordered local-assessfreq-quiz-summary-table">
      <tbody>
        <tr>
          <td>{{#str}} quizparticipants, local_assessfreq {{/str}}</td>
          <td><a id="quiz-participants" href='{{{participantlink}}}'>{{participants}}</a></td>
        </tr>
        <tr>
          <td>{{#str}} quiztparticipantsoverride, local_assessfreq {{/str}}</td>
          <td id="quiz-participants-override" >
            <a id="quiz-time-override" href='{{{overridelink}}}'>{{overrideparticipants}}</a>
          </td>
        </tr>
       </tbody>
    </table>
    <table class="table table-striped table-sm table-bordered local-assessfreq-quiz-summary-table">
      <tbody>
        <tr>
          <td>{{#str}} quiztquestionnumber, local_assessfreq {{/str}}</td>
          <td id="quiz-question-number">{{questioncount}}</td>
        </tr>
        <tr>
          <td>{{#str}} quizquestiontypes, local_assessfreq {{/str}}</td>
          <td id="quiz-question-types">{{typecount}}</td>
        </tr>
        </tbody>
      </table>
