{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_assessfreq/report-heatmap

    Report Summary template.

    Example context (json):
    {

    }
}}
<div id="local-assessfreq-report-heatmap">
    <div class="row no-gutters mt-4 mb-2">
	    <div class="col-sm d-flex justify-content-start">
	        <div class="local-assessfreq-report-heatmap">
               {{> local_assessfreq/nav-year-heat-filter}}
            </div>
	       <div class="local-assessfreq-report-heatmap ml-3">
	           {{> local_assessfreq/nav-assess-type-filter}}
	       </div>
           <div class="local-assessfreq-report-heatmap ml-3">
               {{> local_assessfreq/nav-assess-metric-filter}}
            </div>
        </div>
	    <div class="col-sm d-flex justify-content-end">
		    <form id="local-assessfreq-heatmap-form" method="get" action="download.php" class="dataformatselector m-1">
	            <input type="hidden" name="sesskey" value="{{sesskey}}">
                <input type="hidden" name="year" value="{{downloadyear}}">
	            <input type="hidden" name="metric" value="{{downloadmetric}}">
	            {{#modules}}
	                {{#module}}{{#active}}
                        <input type="hidden" name="modules[{{val}}]" value="{{val}}">
                    {{/active}}{{/module}}
                {{/modules}}

	            <button  id="local-assessfreq-hide-report-btn" class="btn btn-outline-secondary" type="submit">
	                {{#pix}} t/download {{/pix}} {{# str }} download {{/ str }}
	            </button>
	        </form>
        </div>
    </div>
    <div id="local-assessfreq-report-heatmap" class="local-assessfreq-report-heatmap card">
        <span id="local-assessfreq-spinner-{{uniqid}}" class="overlay-icon-container" data-region="overlay-icon-container">
             <span class="loading-icon icon-no-margin">{{#pix}} i/loading, core, {{#str}} loading {{/str}} {{/pix}}</span>
        </span>
        <div class="row no-gutters m-2">
	        <h4 class="col-sm d-flex justify-content-start">
	           {{# str }} assessheatmap, local_assessfreq {{/ str }}
	           <span class="local-assessfreq-year ml-2">{{ currentyear }}</span>
	        </h4>
	        <div class="col-sm d-flex justify-content-end">
                <h5 class="mt-auto mr-2">{{# str }} scale, local_assessfreq {{/ str }}</h5>
                <div id="local-assessfreq-report-heatmap-scale"></div>
	        </div>
        </div>
        <div id="local-assessfreq-report-heatmap-months" class="local-assessfreq local-assessfreq-row justify-content-center">

        </div>
    </div>

</div>
