{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_assessfreq/report-heatmap

    Report Summary template.

    Example context (json):
    {

    }
}}
<div id="local-assessfreq-report-heatmap">
    <div class="row no-gutters mt-4 mb-2">
	    <div class="col-sm d-flex justify-content-start">
	        <div class="local-assessfreq-report-heatmap">
               {{> local_assessfreq/nav-year-heat-filter}}
            </div>
	       <div class="local-assessfreq-report-heatmap ml-3">
	           {{> local_assessfreq/nav-assess-type-filter}}
	       </div>
           <div class="local-assessfreq-report-heatmap ml-3">
               {{> local_assessfreq/nav-assess-metric-filter}}
            </div>
        </div>
	    <div class="col-sm d-flex justify-content-end">
            <button  id="local-assessfreq-hide-report-btn" class="btn btn-outline-secondary" type="button">
                {{#pix}} t/download {{/pix}} {{# str }} download {{/ str }}
            </button>
        </div>
    </div>
    <div id="local-assessfreq-report-heatmap" class="local-assessfreq-report-heatmap card">
        <h4>{{# str }} assessheatmap, local_assessfreq {{/ str }} <span class="local-assessfreq-year">{{ currentyear }}</span></h4>
        <div id="local-assessfreq-report-heatmap-months" class="local-assessfreq local-assessfreq-row">
            <span id="local-assessfreq-spinner-{{uniqid}}" class="overlay-icon-container" data-region="overlay-icon-container">
                <span class="loading-icon icon-no-margin">{{#pix}} i/loading, core, {{#str}} loading {{/str}} {{/pix}}</span>
            </span>
        </div>
    </div>

</div>
